<center>
    This is Set 2: Files and Formats (Exercises 11-20)
</center>

**Prerequisites**
* Additional package `pyarrow` should be installed.
* Small example values along with the sample dataset [datatableton_sample.zip](https://github.com/vopani/datatableton/blob/main/data/datatableton_sample.zip) will be used for the exercises.

In [2]:
!pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-6.0.1-cp38-cp38-win_amd64.whl (15.5 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\ryblo\documents\projects\pandas_exercises\venv\lib\site-packages (from pyarrow) (1.21.4)
Installing collected packages: pyarrow
Successfully installed pyarrow-6.0.1

In [3]:
import numpy as np
import pandas as pd
import pyarrow as pa
from zipfile import ZipFile

dframe = pd.DataFrame({'v1': range(11), 'v2': ['N', 'E', 'V', 'E', 'R', 'G', 'I', 'V', 'E', 'U', 'P']})
nparray = np.array([[0, 'C'], [1, 'O'], [2, 'D'], [3, 'E']])
patable = pa.Table.from_pandas(dframe)
dlist = [range(4), ['D', 'A', 'T', 'A']]
ddict = {'x': range(6), 'y': ['P', 'Y', 'T', 'H', 'O', 'N']}
dtup = [(0, 'L'), (1, 'E'), (2, 'A'), (3, 'R'), (4, 'N')]

**Exercise 11: Write `dframe` to a csv named `data1.csv`, to a compressed gz csv named `data.gz`**

In [4]:
dframe.to_csv('data1.csv')

In [5]:
dframe.to_csv('data2.csv', compression='gzip')

**Exercise 12: Read `data1.csv` and assign it to `data_csv`, read `data.gz` and assign it to `data_gz`**

In [15]:
data_csv = pd.read_csv('data1.csv')
data_csv

    Unnamed: 0  v1 v2
0            0   0  N
1            1   1  E
2            2   2  V
3            3   3  E
4            4   4  R
5            5   5  G
6            6   6  I
7            7   7  V
8            8   8  E
9            9   9  U
10          10  10  P

In [14]:
data_gz = pd.read_csv('data2.csv', compression='gzip')
data_gz

    Unnamed: 0  v1 v2
0            0   0  N
1            1   1  E
2            2   2  V
3            3   3  E
4            4   4  R
5            5   5  G
6            6   6  I
7            7   7  V
8            8   8  E
9            9   9  U
10          10  10  P

**Exercise 13: Read data from this URL: [https://raw.githubusercontent.com/vopani/datatableton/main/data/datatableton_sample.csv](https://raw.githubusercontent.com/vopani/datatableton/main/data/datatableton_sample.csv) and assign it to `data_url`**

In [13]:
data_url = pd.read_csv("https://raw.githubusercontent.com/vopani/datatableton/main/data/datatableton_sample.csv")
data_url

              timestamp user   age product category  price  quantity
0   2017-01-01 13:22:41   U1  21.0    Eggs    Dairy    2.3         2
1   2017-05-22 09:54:21   U2  41.0   Bread      NaN    0.6         2
2   2018-11-09 15:00:01   U3   NaN  Banana    Fruit    0.7         1
3   2018-12-24 23:03:33   U1  21.0   Water    Drink    0.2         1
4   2019-03-03 06:21:58   U4  19.0    Eggs    Dairy    2.3         2
5   2019-06-17 16:13:39   U5  25.0  Grapes    Fruit    1.5         1
6   2019-07-28 21:03:11   U5  25.0   Bread      NaN    0.6         1
7   2019-12-05 04:15:42   U1  21.0  Banana    Fruit    0.7         2
8   2020-02-02 03:45:34   U3   NaN  Banana    Fruit    0.7         1
9   2020-03-05 07:09:12   U4  19.0  Grapes    Fruit    1.5         1
10  2020-03-22 19:29:38   U1  21.0   Water    Drink    0.2         1
11  2020-03-30 09:44:30   U4  19.0   Water    Drink    0.2         1
12  2020-04-01 13:21:41   U1  21.0  Banana    Fruit    0.7         2
13  2020-07-08 11:45:25   U2  41.0  Grapes    Fruit    1.5         1
14  2020-11-19 18:51:22   U5  25.0   Water    Drink    0.2         1
15  2020-12-03 16:23:48   U3   NaN  Banana    Fruit    0.5         3
16  2021-02-03 01:14:40   U5  25.0    Eggs    Dairy    2.1         4
17  2021-05-26 22:42:15   U3   NaN   Bread      NaN    0.6         1
18  2021-06-14 15:49:28   U4  19.0    Eggs    Dairy    2.3         2
19  2021-07-01 04:37:31   U4  19.0   Water    Drink    0.3         1

**Exercise 14: Read `users.csv` from `datatableton_sample.zip` and assign it to `data_zip`**

In [12]:
zip_file = ZipFile('datatableton_sample.zip')
data_zip = pd.read_csv(zip_file.open('users.csv'))

**Exercise 15: Create a dt.Frame `data_pd` from the pd.DataFrame `dframe` and create a pd.DataFrame `pd_data` from the dt.Frame `data_pd`**

In [1]:
#

In [2]:
#

**Exercise 16: Create a pd.DataFrame `data_np` from the np.array `nparray` and create a np.array `np_data` from the pd.DataFrame `data_np`**

In [20]:
nparray

array([['0', 'C'],
       ['1', 'O'],
       ['2', 'D'],
       ['3', 'E']], dtype='<U11')

In [17]:
data_np = pd.DataFrame(nparray)
data_np

   0  1
0  0  C
1  1  O
2  2  D
3  3  E

In [19]:
np_data = data_np.to_numpy()
np_data

array([['0', 'C'],
       ['1', 'O'],
       ['2', 'D'],
       ['3', 'E']], dtype=object)

**Exercise 17: Create a pd.DataFrame `data_ls` from the list `dlist` and create a list `ls_data` from the pd.DataFrame `data_ls`**

In [24]:
dlist

[range(0, 4), ['D', 'A', 'T', 'A']]

In [21]:
data_ls = pd.DataFrame(dlist)
data_ls

   0  1  2  3
0  0  1  2  3
1  D  A  T  A

In [25]:
ls_data = data_ls.values.tolist()
ls_data

[[0, 1, 2, 3], ['D', 'A', 'T', 'A']]

**Exercise 18: Create a pd.DataFrame `data_dc` from the dictionary `ddict` and create a dictionary `dc_data` from the pd.DataFrame `data_dc`**

In [28]:
ddict

{'x': range(0, 6), 'y': ['P', 'Y', 'T', 'H', 'O', 'N']}

In [27]:
data_dc = pd.DataFrame(ddict)
data_dc

   x  y
0  0  P
1  1  Y
2  2  T
3  3  H
4  4  O
5  5  N

In [34]:
dc_data = data_dc.to_dict('list')
dc_data

{'x': [0, 1, 2, 3, 4, 5], 'y': ['P', 'Y', 'T', 'H', 'O', 'N']}

**Exercise 19: Create a pd.DataFrame `data_tp` from the tuples `dtup` and create tuples `tp_data` from the pd.DataFrame `data_tp`**

In [36]:
dtup

[(0, 'L'), (1, 'E'), (2, 'A'), (3, 'R'), (4, 'N')]

In [35]:
data_tp = pd.DataFrame(dtup)
data_tp

   0  1
0  0  L
1  1  E
2  2  A
3  3  R
4  4  N

In [41]:
tp_data = list(data_tp.to_records(index=False))
tp_data

[(0, 'L'), (1, 'E'), (2, 'A'), (3, 'R'), (4, 'N')]

**Exercise 20: Create a pd.DataFrame `data_pa` from the pyarrow.Table `patable` and create a pyarrow.Table `pa_data` from the pd.DataFrame `data_pa`**

In [47]:
patable

pyarrow.Table
v1: int64
v2: string
----
v1: [[0,1,2,3,4,5,6,7,8,9,10]]
v2: [["N","E","V","E","R","G","I","V","E","U","P"]]

In [46]:
data_pa = patable.to_pandas()
data_pa

    v1 v2
0    0  N
1    1  E
2    2  V
3    3  E
4    4  R
5    5  G
6    6  I
7    7  V
8    8  E
9    9  U
10  10  P

In [49]:
pa_data = pa.Table.from_pandas(data_pa)
pa_data

pyarrow.Table
v1: int64
v2: string
----
v1: [[0,1,2,3,4,5,6,7,8,9,10]]
v2: [["N","E","V","E","R","G","I","V","E","U","P"]]

✅ This completes Set 2: Files and Formats (Exercises 11-20)

Original exercises for Datatable package can be found [here](https://github.com/vopani/datatableton)